@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*共通*/
html {
  scroll-padding-top: 20vh;
}

body {
  width: 100%;
  font-size: 16px;
  color: #333333;
  background: #faf3e0;
}

.fade .animation-bg {
  background: #faf3e0;
  content: "";
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation-name: PageAnime-fade;
  animation-duration: 0.5s;
  animation-delay: 0.8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes PageAnime-fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

/* スクロールに合わせてバーが伸びる */
.progress {
  width: 100%;
  height: 4px;
  background: #007bff;
  position: sticky;
  z-index: 10001;
  left: 0;
  top: 0;
  animation: progressBar 0.1s linear;
  animation-timeline: scroll();
  transform-origin: top left;
}

@keyframes progressBar {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

/* スクロールに合わせてバーが伸びる */

li {
  list-style-type: none;
  text-align: center;
  color: #e0e0e0;
}

a {
  text-decoration: none;
  color: #e0e0e0;
}

section {
  margin-bottom: 5vh;
}

/* === スマホ・タブレットサイズ (320px以上1280px以下) === */
@media screen and (min-width: 320px) and (max-width: 1279px) {
  h1 {
    font-size: 1.5rem;
    font-weight: normal;
  }
  h2 {
    font-size: 1.1rem;
  }
}
/* === スマホ・タブレットサイズ (320px以上1280px以下) === */

/*ページトップリンクが下から出る*/
/*リンクの形状*/
#page-top a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #002f5e;
  box-shadow: 0px 5px 15px 0px rgba(255, 252, 252, 0.35);
  border-radius: 5px;
  width: 64px;
  height: 64px;
  color: #e0e0e0;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}

#page-top a:hover {
  background: #ffd700;
  color: #007bff;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 16px;
  bottom: 16px;
  z-index: 2;
  /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*上に上がる動き*/
#page-top.UpMove {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.1s;
}

/*ページトップリンクが下から出る*/

/* header */
#header_logo {
  display: inline-block;
  margin: auto 0;
}

#header ul {
  display: flex;
  justify-content: space-between;
}

#header ul li {
  margin: auto 16px;
}

#header ul li:nth-child(4) {
  margin-right: 0;
}

#header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 20vh;
  z-index: 9999;
  background: #002f5e;
}

#header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #333333;
  transform: translateX(-50%);
  /* 要素の中心を元の位置に戻す */
  transition: width 3s;
}

#header.active::after {
  width: 100%;
}

.header_logo {
  position: inherit;
  z-index: 99999;
}

.logo {
  width: 270px;
  height: 60px;
}

.header_area {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#g-nav li a {
  display: flex;
  padding: 10px;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  position: relative;
}

#g-nav li a p {
  position: relative;
  padding-top: 2px;
}

#g-nav li a p,
#g-nav li a p:hover {
  color: #e0e0e0;
}

#g-nav li a p::after {
  content: "";
  /*絶対配置で線の位置を決める*/
  position: absolute;
  top: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #e0e0e0;
  /*アニメーションの指定*/
  transition: all 0.3s;
  transform: scale(0, 1);
  /*X方向0、Y方向1*/
  transform-origin: center top;
  /*上部中央基点*/
}

/*ホバー時の設定*/
#g-nav li a p:hover::after {
  transform: scale(1, 1);
  /*X方向にスケール拡大*/
}

/* === スマホ・タブレットサイズ (320px以上1280px以下) === */
@media screen and (min-width: 320px) and (max-width: 1279px) {
  /*menu→close*/
  /*ボタン外側*/
  .openbtn4 {
    display: block;
    position: relative;
    /*ボタン内側の基点となるためrelativeを指定*/
    top: 20%;
    right: 2%;
    background: #002f5e;
    background-image: radial-gradient(#002f5e), rgba(233, 233, 233, 1);
    cursor: pointer;
    width: 64px;
    height: 64px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgba(255, 252, 252, 0.35);
    z-index: 10000;
  }

  /*ボタン内側*/
  .openbtn4 span {
    display: inline-block;
    transition: all 0.4s;
    /*アニメーションの設定*/
    position: absolute;
    top: 50%;
    /* 上下中央に配置 */
    left: 50%;
    /* 左右中央に配置 */
    transform: translate(-50%, -50%);
    /* 中央揃え */
    height: 2px;
    border-radius: 5px;
    background: #e0e0e0;
    width: 45%;
  }

  .openbtn4 span:nth-of-type(1) {
    top: 12px;
    left: 50%;
    transform: translateX(-50%);
  }

  .openbtn4 span:nth-of-type(2) {
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
  }

  .openbtn4 span:nth-of-type(3) {
    top: 24px;
    left: 50%;
    transform: translateX(-50%);
  }

  .openbtn4 span:nth-of-type(3)::after {
    content: "Menu";
    /*3つ目の要素のafterにMenu表示を指定*/
    position: absolute;
    top: 6px;
    left: 1px;
    color: #e0e0e0;
    font-size: 0.6rem;
    text-transform: uppercase;
  }

  /*activeクラスが付与されると線が回転して×になり、Menu⇒Closeに変更*/
  .openbtn4.active span:nth-of-type(1) {
    top: 14px;
    left: 50%;
    transform: translateX(-50%) translateY(6px) rotate(-45deg);
    width: 30%;
  }

  .openbtn4.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn4.active span:nth-of-type(3) {
    top: 26px;
    left: 50%;
    transform: translateX(-50%) translateY(-6px) rotate(45deg);
    width: 30%;
  }

  .openbtn4.active span:nth-of-type(3)::after {
    content: "Close";
    /*3つ目の要素のafterにClose表示を指定*/
    transform: translateY(0) rotate(-45deg);
    top: 6px;
    left: 10px;
  }
  /*menu→close*/

  /* クリックしたらナビが右から左に出現 */
  #g-nav {
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position: fixed;
    z-index: 9998;
    /*ナビのスタート位置と形状*/
    top: 15vh;
    right: -100%;
    width: 100%;
    height: 90%;
    /*ナビの高さ*/
    background: #002f5e;
    /*動き*/
    transition: right 1s ease;
    display: flex;
  }

  /*アクティブクラスがついたら位置を0に*/
  #g-nav.panelactive {
    right: 0;
  }

  /*ナビゲーション*/
  #g-navi {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
  }

  #g-navi li {
    margin-bottom: 16px;
  }

  #g-navi li a {
    display: block;
    color: inherit;
  }

  #g-navi li a div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #g-navi li a div img {
    margin-bottom: 10px;
  }
}
/* クリックしたらナビが右から左に出現 */
/* === スマホ・タブレットサイズ (320px以上1280px以下) === */

/* === デスクトップ（1280px以上）のスタイル === */
@media only screen and (min-width: 1280px) {
  #g-nav {
    display: flex;
    /* 横並びにするためのflex表示 */
    position: static;
    /* fixed位置を解除 */
    height: auto;
    /* 高さを自動に */
    width: auto;
    /* 幅を自動に */
    background: transparent;
    /* 背景色を透明に */
  }

  #g-nav ul {
    position: static;
    /* absolute位置を解除 */
    transform: none;
    /* transformを解除 */
    display: flex;
    /* 横並びに */
    flex-direction: row;
    /* 方向を行に */
  }

  #g-nav li {
    margin: 0 10px;
    /* ナビゲーションアイテム間のスペース */
  }

  /* ハンバーガーボタンを非表示 */
  .openbtn4,
  #nav_footer {
    display: none;
  }
}
/* === デスクトップ（1280px以上）のスタイル === */
/* header */

/* main */
/* メインビジュアル */
#mainvisual {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
#player {
  object-fit: cover;
}
.text-wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 10;
  /* オブジェクトよりも前面に配置する */
}
#maintext {
  min-width: 100%;
  min-height: 90%;
  background-image: radial-gradient(
    farthest-side,
    rgba(197, 183, 252, 0.47) 59%,
    rgba(233, 233, 233, 0.47) 98%
  );
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}
#maintext h1 {
  font-size: 2.5rem;
  font-weight: normal;
  margin: 8px 0;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* 文字がじわっと出現 */
.blurTrigger {
  opacity: 0;
  transition: opacity 2s, transform 2s;
  /* じわっと出る効果 */
}
.blur {
  opacity: 1;
  transform: scale(1.05);
  /* 少し大きくする */
}
/* 文字がじわっと出現 */
/* メインビジュアル */

/* 最新情報 */
#news {
  width: 100%;
  min-height: 30vh;
  margin: 5vh auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* === スマホ・タブレットサイズ (320px以上1280px以下) === */
@media screen and (min-width: 320px) and (max-width: 1279px) {
  #news {
    flex-direction: column;
  }
}
/* === スマホ・タブレットサイズ (320px以上1280px以下) === */

#news,
#faq,
#access,
#company {
  position: relative;
  overflow: hidden;
}

#news::before,
#news::after,
#faq::before,
#faq::after,
#access::after,
#company::after {
  content: "";
  position: absolute;
  left: 50%;
  /* 中央から開始 */
  width: 0;
  height: 1px;
  background-color: #333333;
  transform: translateX(-50%);
  /* 要素の中心を元の位置に戻す */
  transition: width 3s;
}

#news::before,
#faq::before {
  top: 0;
  left: 50%;
}

#news::after,
#faq::after,
#access::after,
#company::after {
  bottom: 0;
  left: 50%;
}

#news.active::before,
#faq.active::before {
  width: 100%;
  transform: translateX(-50%);
}

#news.active::after,
#faq.active::after,
#access.active::after,
#company.active::after {
  width: 100%;
  transform: translateX(-50%);
}

.container_row {
  display: flex;
  margin: 2rem auto;
  align-items: center;
  justify-content: center;
}

.container_row h1 {
  height: 2rem;
  border-right: 2px solid #333333;
  padding-right: 0.5em;
}

.container_row p {
  padding-left: 0.5em;
}

@keyframes shiny {
  0% {
    left: -20%;
  }

  10% {
    left: 120%;
  }

  100% {
    left: 120%;
  }
}

#app {
  width: 200px;
  margin: 0 auto;
  background-color: transparent;
}

.shiny-btn {
  margin: 16px;
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #e0e0e0;
  background-color: #002f5e;
  box-shadow: 0px 6px 0px -2px rgba(67, 145, 209, 1);
  border-radius: 60px;
  cursor: pointer;
  overflow: hidden;
}

.shiny-btn::after {
  content: "";
  position: absolute;
  top: -10%;
  left: -20%;
  width: 40px;
  height: 100%;
  transform: scale(2) rotate(20deg);
  background-image: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0.5) 100%,
    rgba(255, 255, 255, 0) 0%
  );
  animation-name: shiny;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
/* 最新情報 */

/* コース紹介 */
#course {
  display: flex;
  width: 100%;
  height: 80vh;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
}

.container_column {
  margin-bottom: 2vh;
  width: 80%;
}

#app {
  text-align: center;
}

.wrapper,
.course_image {
  box-sizing: border-box;
  width: 50%;
  padding: 1%;
}

.container_column h2 {
  width: 100%;
  position: relative;
  padding: 0.5rem;
  margin: 3vh auto;
  text-align: center;
}

.container_column h2:before {
  position: absolute;
  bottom: 0;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: "";
  border-radius: 3px;
  background: #333333;
}

.course_image {
  flex: 1;
  overflow: hidden;
}

.course_image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* 画像をトリムして表示 */
  object-position: center center;
  /* 画像を上下左右中央に配置 */
}

/* === スマホ・タブレットサイズ (320px以上1280px以下) === */
@media screen and (min-width: 320px) and (max-width: 1279px) {
  #course {
    flex-direction: column;
  }

  .wrapper,
  .course_image {
    width: 100%;
    height: 100%;
  }

  .wrapper {
    margin: 0 auto;
  }

  .course_image {
    width: 100%;
    border-top: 1px solid #333333;
  }
}
/* === スマホ・タブレットサイズ (320px以上1280px以下) === */
/* コース紹介 */

/* よくあるご質問 */
#faq {
  padding: 5vh auto;
}

#faq .container_row {
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}

/*アコーディオン全体*/
.accordion-area {
  list-style: none;
  width: 96%;
  max-width: 900px;
  margin: 0 auto;
}

.accordion-area li {
  margin: 10px 0;
}

/*アコーディオンタイトル*/
.title {
  position: relative;
  /*+マークの位置基準とするためrelative指定*/
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  padding: 3% 3% 3% 50px;
  transition: all 0.5s ease;
  background: #002f5e;
}

/*アイコンの＋と×*/
.title::before,
.title::after {
  position: absolute;
  content: "";
  width: 15px;
  height: 2px;
  background-color: #e0e0e0;
}

.title::before {
  top: 48%;
  left: 15px;
  transform: rotate(0deg);
}

.title::after {
  top: 48%;
  left: 15px;
  transform: rotate(90deg);
}

/*　closeというクラスがついたら形状変化　*/
.title.close::before {
  transform: rotate(45deg);
}

.title.close::after {
  transform: rotate(-45deg);
}

/*アコーディオンで現れるエリア*/
.box {
  display: none;
  /*はじめは非表示*/
  background: #007bff;
  margin: 0 3% 3% 3%;
  padding: 3%;
}
/* よくあるご質問 */

/* アクセス情報 */
#access {
  display: flex;
  flex-wrap: wrap;
  /* スマホサイズでの縦並びのための設定 */
  justify-content: space-between;
  align-items: start;
  /* 上揃えに設定 */
}

#access .wrapper {
  flex: 1;
  /* 50%の幅になるようにする */
  max-width: 50%;
  /* 50%の幅に制限 */
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#access .container_column p:nth-child(1) {
  margin-bottom: 2vh;
}

#access iframe {
  flex: 1;
  /* 50%の幅になるようにする */
  max-width: 50%;
  /* 50%の幅に制限 */
  border: none;
  /* iframeのデフォルトのボーダーを消す */
  padding: 5vh;
}

/* === スマホ・タブレットサイズ (320px以上1280px以下) === */
@media screen and (min-width: 320px) and (max-width: 1279px) {
  #access {
    flex-direction: column;
  }

  #access .wrapper,
  #access iframe {
    min-width: 100%;
    /* 100%の幅にする */
    min-height: 50vh;
    margin: 5vh auto;
  }
}
/* === スマホ・タブレットサイズ (320px以上1280px以下) === */
/* アクセス情報 */

/* 会社概要 */
#company {
  padding-bottom: 5vh;
}

.tg {
  margin: 0px auto;
}

.tg td {
  overflow: hidden;
  padding: 10px 20px;
  word-break: normal;
}

.tg th {
  overflow: hidden;
  padding: 10px 20px;
  word-break: normal;
}
/* 会社概要 */
/* main */

/* footer */
#footer {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 2;
  background: #002f5e;
}

small {
  display: block;
  text-align: center;
  padding: 20px;
  color: #e0e0e0;
}

/* === スマホ・タブレットサイズ (320px以上1280px以下) === */
@media screen and (min-width: 320px) and (max-width: 1279px) {
  #footer {
    flex-direction: column;
    align-items: center;
  }
}
/* === スマホ・タブレットサイズ (320px以上1280px以下) === */
/* footer */

/* コース紹介 */
.curriculum {
  position: relative;
  padding-bottom: 2vh;
  height: auto;
  width: 100%;
  margin-bottom: 2vh;
  color: #ffffff;
  z-index: 1;
}

.curriculum_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2vh 0;
  background-image: url(./image/Curriculum.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(rgba(0, 47, 94, 1),rgba(233, 233, 233, 1));
  opacity: 0.6;
  z-index: -1;
}

.curriculum_wrapper h3{
  width: 60%;
  margin: 0 auto;
}

.curriculum h1 {
  position: relative;
  display: inline-block;
  margin-bottom: 1em;
  height: fit-content;
}

.curriculum h1:before {
  content: "";
  position: absolute;
  bottom: -15px;
  display: inline-block;
  width: 60px;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffffff;
  border-radius: 2px;
}

.curriculum h2,
.curriculum h3 {
  margin: 1.2rem auto;
}

h3 {
  font-weight: normal;
  font-size: 1rem;
}

.course-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 0;
  position: relative;
  height: auto;
}
.reverse {
  flex-direction: row-reverse;
}

.image-wrapper,
.curriculum-text-wrapper {
  flex-basis: 50%;
  width: 50%;
  height: 100%;
  padding: 2vh 2vh 0 2vh;
  flex-shrink: 0;
}

.curriculum-text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:auto ;
  margin-bottom: auto;
}

.image-wrapper img {
  width: 100%;
  max-width: 100%;
}

.curriculum-heading {
  width: fit-content;
  height: fit-content;
  border-left: #007bff solid 4px;
  padding: 0 0.5rem;
  margin-bottom: 1rem;
}

.curriculum-heading span {
  font-size: 0.6em;
  display: block;
  left: 0;
}

.curriculum-text-wrapper p {
  width: 80%;
}

.icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.icons img {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
}

.curriculum::before,
.curriculum::after,
.course-description::before,
.course-description::after {
  content: "";
  position: absolute;
  bottom: -1px;
  height: 1px;
  background-color: #333333;
  transition: width 1.0s ease;
  width: 0;
}

.curriculum::before,
.course-description::before {
  left: 0;
}

.curriculum::after,
.course-description::after {
  right: 0;
}

.active-border::before,
.active-border::after {
  width: 50%;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .course-description {
    flex-direction: column-reverse;
  }
  .image-wrapper,
  .curriculum-text-wrapper {
    flex-basis: 100%;
    width: 100%;
    max-height: 50%;
  }
  .image-wrapper img{
    max-height: 50%;
    object-fit: cover;
  }
}

/* コース紹介 */

/* 卒業生の声 */
.voice{
  margin-top: 2vh;
  margin-bottom: 0;
}

.voice-wrapper{
  background-image: url(./image/voices3.jpg);
  background-position: bottom;
}

.voice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: fit-content;
  padding-bottom: 2vh;
  margin-bottom: 2vh;
}

.slider {
  display: flex;
  width: 80%;
  height: fit-content;
  transition: transform 1s ease-in-out;
}

.slick {
  flex: 0 0 100%;
  transition: transform 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick p{
  width: 60%;
}

/* 両サイドのボタンのスタイル */
.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  background-color: #002f5e;
  min-width: 5vw;
  height: auto;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  color: white;
  font-size: 2rem;
}

.slider-button.prev {
  left: 20%;
}

.slider-button.next {
  right: 20%;
}
/* 卒業生の声 */

/* お申し込み */
.apply-wrapper{
  background-image: url(./image/apply.jpg);
  background-size: contain;
}
/* お申し込み */